# ============================================
# Aiven PostgreSQL — isi dengan connection string Anda
# ============================================
# DATABASE_URL=postgresql://avnadmin:PASSWORD@pg-PROJECT.aivencloud.com:PORT/defaultdb?sslmode=require
# DIRECT_URL=postgresql://avnadmin:PASSWORD@pg-PROJECT.aivencloud.com:PORT/defaultdb?sslmode=require
DATABASE_URL=file:./db/custom.db
DIRECT_URL=

# Admin Basic Auth
ADMIN_USERNAME=admin
ADMIN_PASSWORD=kebumen2025
