# ============================================
# Aiven PostgreSQL — isi dengan connection string Anda
# ============================================
# DATABASE_URL=postgresql://avnadmin:PASSWORD@pg-PROJECT.aivencloud.com:27377/defaultdb?sslmode=require
DATABASE_URL=file:./db/custom.db

# Admin Basic Auth
ADMIN_USERNAME=admin
ADMIN_PASSWORD=kebumen2025
